@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');
:root{
	--bg: white;
	--text: #3b4352;
	--icon: #3b4352;
	--hover: #315bf0;
	--emphasis: #315bf0;
}
/* LIGHT MODE SCROLL BAR CSS */
.light::-webkit-scrollbar {
	width: 18px;
}

/* Track */
.light::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
    border: solid 5px transparent;
}

/* Handle */
.light::-webkit-scrollbar-thumb {
	width: 5px;
	/* background-color: #315bf0; */
	box-shadow: inset 0 0 14px 14px rgba(59, 67, 82, 0.6);
    border: solid 5px transparent;
	border-radius: 10px;
	/* border: solid 10px transparent; */
	
}

/* Handle on hover */
.light::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 14px 14px rgba(59, 67, 82, 0.9);
    border: solid 5px transparent;
}

/* DARK MODE SCROLL BAR CSS */
.dark::-webkit-scrollbar {
	width: 18px;
}

/* Track */
.dark::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
    border: solid 5px transparent;
}

/* Handle */
.dark::-webkit-scrollbar-thumb {
	width: 5px;
	/* background-color: #315bf0; */
	box-shadow: inset 0 0 14px 14px rgba(242, 243, 247, 0.6);
    border: solid 5px transparent;
	border-radius: 10px;
	/* border: solid 10px transparent; */
	
}

/* Handle on hover */
.dark::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 14px 14px rgba(242, 243, 247, 0.9);
    border: solid 5px transparent;
}

/* BODY CSS */

body{padding: 10px;font-family: 'Manrope', sans-serif; margin: 0; height: 100%;  color: var(--text); background-color: var(--bg);}
*{padding: 0; box-sizing: border-box; margin: 0}

button{font-family: inherit; background-color: #f2f3f7; font-size: 1em; border: none; padding: 1vh 3vh; border-radius: 15px; cursor: pointer;}
.navbar{
	background-color: var(--bg); 
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;}
#nav a{text-decoration: none; color: var(--text);}
#nav a:hover{font-weight: bold;}
nav{
	height: 70px;
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 94.3%;
}

nav ul{
	display: flex;
	flex-direction: co;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	width: 70%;
	position: relative;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 15px;
}

svg{
	display: block;
	margin: auto;
}

nav ul i{
	font-size: 28px; 
	display: block; 
	padding: 3px;
	margin: auto 0; 
}

#links{
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	list-style: none;
	width: 300px;
	justify-content: space-between;
	align-items: center;
	z-index: unset;
	margin: 0 auto;
}

.vl{
	border-left: 2.3px solid var(--text);
	width: 500px;
	left: 50%;
	top: 0;
	margin: 0 auto;
}

.thememode{
	height: 25px;
	width: 25px;
	padding-top: 1.7px;
	cursor: pointer;
}
.thememode i{
	font-size: 21px; color: var(--icon);
	text-align: center;
	display: block;
	/* margin-top: 2px; */
	padding: 0;
}

.thememode i:hover{
	color: var(--hover);
}


#container{
	height: 100%;
	width: 90%;
	margin: 0 auto;
}
#intro{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* font-family: 'SF', sans-serif; */
}
#intro *{margin: 2% 0;}
.linkbutton{width: 30%; border: 2px solid var(--emphasis); padding: 5px; text-decoration: none; color: var(--text); border-radius: 10px;}
#app{
	width: 40%;
	text-align: center;
}
.linkbutton:hover, .contact:hover{
	font-weight: bold;
}
#contactbtn{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.disable-link {
	pointer-events: none;
}

#intro h1{font-size: 28px; font-weight: normal; font-family: 'Manrope', sans-serif;}
#intro h2{font-weight: normal; font-size: 14px;}
#intro h3{font-size: 12px;}
#name{
	color: var(--emphasis); 
}

#sections h2{font-size: 23px; margin-bottom: 10px;}
.section{margin: 15vh auto;}
#about{margin-top: 5vh;}

.techlist{
	margin-bottom: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.experience p{
	font-size: 0.9rem;
	font-style: italic;
}

.experience{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experience ul{
	margin-bottom: 1em;
}

#dt{
	padding: 0.3em 2em;
}

.workdesc{
	width: 90%;
	margin: 0 auto;
}
#project{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
}

.proj{
	display: flex;
	flex-direction: column;
}

.mid{margin: 15px 0;}

.fa-brands{font-size: 21px; color: var(--icon);}
.fa-brands:hover{
	color: var(--hover);
}

#contact p{text-align: center; margin: 0 auto 5px;}
footer{
	text-align: center;
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	/* background-color: white; */
	/* box-shadow: 0px -1px 15px 0 rgba(0, 0, 0, 0.08); */
	padding: 10px 10px;
}

.socials{margin: 5px;}

#footer-text{font-size: 12px; text-align: center; margin: 10px auto;}
@media (min-width: 370px){
	.linkbutton{width: 25%;}
	#intro h1{font-size: 36px; font-weight: normal;}
	#intro h2{font-weight: normal; font-size: 18px;}
	#intro h3{font-size: 12px;}
}

/*Small Devices: Landscape Phones*/
@media (min-width: 576px){
	#container{width: 60%;}
	#intro h1{font-size: 40px; font-weight: normal;}
	#intro h2{font-weight: normal; font-size: 25px;}
	#intro h3{font-size: 15px;}
	#sections h2{font-size: 33px;}
}

/*Medium Devices: Tablets*/
@media (min-width: 768px){
	/* body{font-size: 'Poppins';} */
	#container{width: 70%;}
	nav{height: 80px;}
    nav ul{
		width: 70%;
	}
	#intro *{margin: 1% 0;}
	#intro h1{font-size: 60px; font-weight: normal;}
	#intro h2{font-weight: normal; font-size: 25px;}
	#intro h3{font-size: 15px;}
	#project{
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: auto auto;
		justify-content: space-around;
		align-content: space-between;
	}
	.experience p{
		font-size: 0.5rem;
		font-style: italic;
	}
	#about p{
		font-size: 20px;
	}
	.mid1{margin: 0;}
	.techlist{width: 30%;}
	
}

/*Large Devices: Laptops*/
@media (min-width: 992px){
	#container{width: 70%;}
	nav{z-index: unset;}
	nav ul{
		width: 50%;
	}
	#links{
		display: flex;
		flex-direction: column;
		position: fixed;
		bottom: 50px;
		left: 55px;
		right: unset;
		list-style: none;
		width: auto;
		height: 320px;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
	}
	.vl{
		border-left: 2.3px solid var(--text);
		height: 500px;
		/* background-color: #f2f3f7; */
		left: 50%;
		top: 0;
	}
	.carousel-item img{
		/* Add the blur effect */
		filter: blur(5px);
		-webkit-filter: blur(5px);
	}
}

/*Extra Large Devices:  Large desktops*/
@media (min-width: 1200px){
}


