@font-face{
	font-family:'bitter';
	src:url(fonts/BitterPro-Regular.ttf);
}

@font-face{
	font-family:'bitterbold';
	src:url(fonts/BitterPro-Medium.ttf);
}

body{
	font-family: 'bitter', arial, sans-serif;
	margin: 0;
}
#navbar{

	height: 55px;
	width: auto;
	/*background-color: white;*/
	padding: 0;
	line-height: 55px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	/*border-bottom: 1px solid lightgrey;*/
	/*background-color: white;*/
}
.logoclick{float: left;}
.logoclick img:hover{
	height: 48px;
	width: auto;
}
#logo{
	width: 40px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
#logo:hover{
	width: 44px;
	height: 49px;
}
#sidearrow{

	height: 48px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0px;
}
#sidearrow:hover{
	width: auto;
	height: 50px;
}
.nav{
	display: none;
	font-size: 18px;
	text-decoration: none;
	float: left;
	margin: 0px 145px;
	color: black;

	/*background-color: lightyellow;*/
}
.nav:hover{
	text-decoration: underline;
}
#current{
	font-weight: bold;
}
.slidebar{background-color: white; height: 55px; float: left;}
/*.active{text-decoration: underline;color: red;}*/
#container{
	margin: 50px auto 0px;
	padding: 0px;
	/*background-color: lightblue;*/
}
#intro{
	height: 200px;
	margin: 90px auto 50px;
	background-color: #F7F7F7; box-shadow: 5px 5px 0px #D1D1D1; border-radius: 40px;
	line-height: 20px;
	display: flex;
	flex-direction: column;
	
}

#footer{
	border-top: 1px solid lightgrey;
	margin: 0px;
	height: 40px;
	line-height: 40px;
}
#footer p{
	padding-left: 10px;
}
p{margin: 0;}
h1{font-family: 'bitterbold', arial, sans-serif; margin: 75px; text-align: center; text-shadow: 3.2px 3.4px 1px #BCBCBC; font-size: 150px; font-weight:normal;}
#intro p{margin: 0px; text-align: center; font-size: 20px; vertical-align: middle;}
h2{margin: 0px; text-align: center; font-size: 40px;}
h3{margin: 0px; text-align: center; font-size: 30px;}
#footer p{float: left;}
.socials{float: right; margin: 5px 3px 0px;}

.clearfloat {clear: both; }

@media (max-width: 991px){
	.nav{float: none; width: auto; margin: 0px auto;}
}
@media (max-width:767px) {
	body{padding: 0px;}
	.nav{width: auto; float: none; margin: 0px auto;}
}
