@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Light.eot');
    src: url('SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Light.woff2') format('woff2'),
        url('SFProText-Light.woff') format('woff'),
        url('SFProText-Light.ttf') format('truetype'),
        url('SFProText-Light.svg#SFProText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('SFProDisplay-Light.eot');
    src: url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Light.woff2') format('woff2'),
        url('SFProDisplay-Light.woff') format('woff'),
        url('SFProDisplay-Light.ttf') format('truetype'),
        url('SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

