@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://use.typekit.net/sup1yqc.css");
@import url("https://p.typekit.net/p.css?s=1&k=iei4dso&ht=tk&f=18058.18059.18060.18065.14584.14585.14586.14587.9869.9870.9871.9872.18099.18100.18101.18106.18182.18183.18184.18189.18138.18139.18140.18145.18168.18169.18170.18175.18209.18210.18211.18212.18338.18339.18340.18345.18350.18351.18352.18357.18288.18289.18290.18295.18021.18022.18023.18028.18046.18047.18048.18053.18126.18127.18128.18133.47830.47831.47832.47833.47839.47840.47844.47845.47851.47853.47854.47855.47856&a=48116753&app=typekit&e=css");

@font-face {
  font-family: "transducer";
  src: url("https://use.typekit.net/af/d7bde5/00000000000000007735ecca/30/l?subset_id=2&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d7bde5/00000000000000007735ecca/30/d?subset_id=2&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d7bde5/00000000000000007735ecca/30/a?subset_id=2&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "transducer";
  src: url("https://use.typekit.net/af/f1009d/00000000000000007735eccd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/f1009d/00000000000000007735eccd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/f1009d/00000000000000007735eccd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "kepler-std";
  src: url("https://use.typekit.net/af/d0cd82/000000000000000000013141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d0cd82/000000000000000000013141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d0cd82/000000000000000000013141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

/* navbar + footer */
*::selection{
  color: #230000;
  background: #f6cb4e;
}
body{
  padding: 0px;
  margin: 0px;
  background-color: #f0f0f0;
}
main {
  overflow-x: hidden!important;
}
.clearfloat{
  clear: both;
}
h1,
h2,
h3,
a,
p,
img {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #9a2133;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 0.5s;
}

ul{
  list-style: none;
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;

  font-family: transducer,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}
#navbar{
  margin: auto 0;
  display: none;
  cursor: pointer!important;
  z-index: 1;
}
#navbar .bar1, .bar2, .bar3 {
  z-index: 100;
  cursor: pointer!important;
}
.block {
  z-index: 100;
}
#navbar div{
  width: 30px;
  height: 3px;
  background-color: rgb(51, 51, 51);
  margin: 6px 0px 0px 10px;
  transition: 0.4s;
  position: relative;
  top: 15px;
  left: 5px;
}
.open .bar1{
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  transform: rotate(-45deg) translate(-8px, 5px);
}
.open .bar2{
  opacity: 0;
}
.open .bar3{
  -webkit-transform: rotate(45deg) translate(-8px, -4px);
  transform: rotate(45deg) translate(-8px, -4px);
}
.open .mobile-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-menu img{
  width: 150px;
  height: auto;
  position: absolute;
  top: 4%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
}
.mobile-menu{
  height: calc(100vh - 56px);
  display: none;
  width: 100%;
  position: absolute;
  background-color: #f0f0f0;
  top: 55px;
  /* bottom: 0; */
  z-index: 99;
  overflow: hidden;
}
.mobile-menu li{
  margin-bottom: 10px;
}

#header {
  height: 85px;
  position: relative;
  margin-bottom: 30px;
  padding: 0px;
  z-index: 2;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  z-index: 2;
  /* border-bottom: .5px solid black; */
}
#header a,
p {
  color: black;
}
#links {
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#header img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
}

#footer {
  height: fit-content;
  align-items: center;
  text-align: center;
  color: black;
  padding: 50px;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#games {
  text-transform: uppercase;
}

#footer a,
p {
  color: black;
}
.footerborder {
  height: 0.5px;
  background-color: black;
  border: 0px;
  margin: 0px;
}
#footer img {
  width: 150px;
  height: auto;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
}
#footerlinks {
  padding: 50px 0px 25px 0px;
  text-transform: uppercase;
}
#socialicons {
  padding: 25px 0px 0px 0px;
}
#socialicons a {
  font-size: 1.4rem;
}
i {
  color: #f6cb4e;
  width: 20px;
}
#copyright {
  padding-top: 50px;
  font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  #links{
      display: none;
  }
  #header {
    height: 56px!important;
  }
  #header img{
      width: 150px;
      height: auto;
      position: absolute;
      top: 10%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin: 0px;
      padding: 0px;
  }
  #headerborder{
      height: .5px;
      background-color: black;
      border: 0px;
      /* margin-top: -30px; */
  }
  #navbar{
      display: block;
  }
  #body h1{
      font-family: kepler-std,serif;
      font-weight: 400;
      font-style: italic;
      color: #9a2133;
      text-align: center;
      margin-top: 50px;
  }
  #body{
      padding: 0px;
      margin: 0px;
  }
  .smaller, .uscRed, .opponent {
    font-size: 3.5rem!important;
  }
  .smallerV, .uscV {
    font-size: 3rem!important;
  }
  .column h1 {
    line-height: 10%!important;
  }
  #items {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
  }
  #items img {
      width: 300px;
      height: 300px;
      margin-bottom: 10px;
  }
  .nametags {
      width: 300px;
  }
  .nametag {
      width: 300px;
  }
  .nametag p {
      text-align: left;
      width: 300px;
      font-family: transducer,sans-serif;
      font-weight: 900;
      font-style: normal;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding-left: 13px;
      padding-bottom: 10px;
  }
  .footerborder {
    height: 0.5px;
    background-color: black;
    border: 0px;
    margin-top: -50px;
  }
}
/* end of navbar + footer */

#header_intro {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid black;
}

#main_img img {
  width: 833px;
  height: 803px;
  object-fit: cover;
  display: block;
  border-left: 0.5px solid black;
}

.column {
  flex: 50%;
  font-family: "transducer", sans-serif;
  font-style: normal;
  font-size: 2rem;
  position: relative;
}

.column h1 {
  font-weight: 900;
  font-size: 128px;
  line-height: 90%;
  margin-left: -6px;
  margin-bottom: 10px;
}

.smaller {
  font-size: 96px!important;
  line-height: 0!important;
}
.smallerV {
  font-size: 72px!important;
  line-height: 0!important;
}

.column p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0px;
  line-height: 150%;
}
#location {
  margin-top: 50px!important;
}
/* 
#text_intro {
  display: grid;
  justify-content: center;
  align-items: center;
} */

#text_intro {
  position: relative;
}

.text_cont {
  position: absolute;
  width: 85%;
  min-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.scores {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.column_1 {
  flex: 50%;
  margin-right: 15px;
}

.column_1 img {
  width: 76px;
  height: 76px;
  margin-right: 5px;
}

.column_1 h1 {
  display: inline;
  font-size: 64px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
}

.uscRed {
  color: #9a2133;
}

.uscV {
  font-size: 96px;
}

.section h2 {
  font-family: 'kepler-std', serif;
  font-weight: lighter;
  font-style: italic;
  color: #9a2133;
  font-size: 50px;
}
.section {
  width: 80vw;
  margin: 4em auto;
}

#highlights small {
  font-family: 'kepler-std', serif;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 30px;
  color: #676767;
}

#stories {
  margin-bottom: 10em;
}

.card {
  background-color: white;
  border: 1px solid black;
  margin: 2em 0;
  border-radius: 20px;
}

.card:hover {
  border: 1px solid #f6cb4e;
  box-shadow: -1.5px -1.5px 0 rgba(0, 0, 0, 1), 1.5px -1.5px 0 rgba(0, 0, 0, 1),
    -1.5px 1.5px 0 rgba(0, 0, 0, 1), 1.5px 1.5px 0 rgba(0, 0, 0, 1);
}

.card h4 {
  color: #f6cb4e;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-decoration: none;
}

.card h3 {
  font-family: "georgia", serif;
  font-size: 25px;
}

.card p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #909090;
}

.article-info {
  width: 80%;
  margin: 2em auto;
}

#imggallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

#imggallery img {
  width: 100%;
  margin: 5px;
  object-fit: cover;
}

#footer a:hover,
#header a:hover {
  color: #9a2133;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 0.5s;
}


@media (min-width: 915px) {
  #links {
    width: 35%;
  }

  /* #main_img{
    background-color: rebeccapurple;
  } */
  #imggallery img {
    width: 32%;
    height: 250px;
    margin: 5px;
  }

  #main_img {
    height: 100vh;
  }

  #main_img img {
    height: 100%;
  }

  .card:hover {
    border: 1px solid #f6cb4e;
    box-shadow: -1.5px -1.5px 0 rgba(0, 0, 0, 1),
      1.5px -1.5px 0 rgba(0, 0, 0, 1), -1.5px 1.5px 0 rgba(0, 0, 0, 1),
      1.5px 1.5px 0 rgba(0, 0, 0, 1);
  }

  .card h4 {
    font-size: 25px;
  }

  .card h3 {
    font-size: 30px;
  }

  .card p {
    font-size: 22px;
  }

  .article-info {
    width: 85%;
  }
}

@media screen and (min-width: 2501px) {
  #main_img img {
    width: 100%;
  }
}

@media screen and (max-width: 2500px) {
  #main_img img {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  #header_intro {
    flex-direction: column-reverse;
    height: auto;
    justify-content: space-around;
  }

  #text_intro {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .collage_column {
    flex: 70%;
    max-width: 70%;
  }

  .subheader {
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .article {
    width: 100%;
  }

  .article_box {
    width: 65%;
  }
  #main_img {
    height: 60%;
    width: 100%;
    object-fit: cover;

  }
  #main_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .text_cont {
    position: relative;
    width: 100vw!important;
    height: auto;
    transform: none;
    top: 0;
    left: 0;
    margin: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  #stories {
    margin-bottom: 0;
  }
  .collage_column {
    flex: 90%;
    max-width: 90%;
  }
  .subheader {
    /* margin-left: 15px; */
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 40px;
    padding-left: 45px;
  }

  #header_intro {
    flex-direction: column-reverse;
  }

  #main_img img {
    width: 100%;
    height: 400px;
    /* width: 634px; */
    /* height: 506px; */
    /* object-fit: cover; */
  }

  /* #text_intro {
    padding-top: 50px;
    padding-bottom: 50px;
  } */

  #text_intro h1 {
    line-height: 40%;
    padding-bottom: 20px;
  }

  #text_intro p {
    line-height: 150%;
  }

  .uscRed {
    font-size: 96px;
    line-height: 0px;
  }

  .uscV {
    font-size: 48px;
    line-height: 0px;
  }

  .opponent {
    font-size: 96px;
    line-height: 0px;
  }

  .text_cont {
    width: 100vw!important;
    height: auto;
    /* margin: 0; */
    padding-bottom: 50px!important;
    position: relative;
  }
  #location {
    margin-top: 30px!important;
  }
  .column p {
    font-size: .8rem;
  }

  .column_1 img {
    width: 40px!important;
    height: 40px;
  }

  #ucla {
    height: 40px!important;
    width: auto!important
  }

  .column_1 h1 {
    font-size: 40px;
  }

  #main_img {
    margin-top: -30px;
  }

  /* #highlights {
    margin-top: 40px;
  } */

  .collage {
    /* padding: 20px; */
    padding: 0 20px 20px 20px;
    /* margin-top: 10px; */
  }

  /* .article {
    /* padding: 20px; */
  /* margin-top: 30px; */
}
*/ .article_box {
  width: 70%;
  /* flex: 100%;
    max-width: 100%; */
}


/* QUIZ PAGE */
#quizHeader{
  color: #9A2133;
  font-style: italic;
  text-align: center;
  font-size: 3.2em;
  font-weight: 400;
  font-family: 'kepler-std';
}
#quizSection{
  width: 60%;
  height: calc(100vh - 70px);
  margin: 80px auto;
  display: block;
  margin-top: 70px;
}
#questionSection{
  border: 1px solid black;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  height: 80%;
}
.quizImg{
  border-right: 1px solid black;
  float: left;
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.quizImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#questionWrapper{
  float: left;
  width: 54.9%;
  background-color: none;
  height: 100%;
  display: block;
}
#quizQuestionsWrapper{
  background-color: none;
  margin-left: 2em;
  margin-top: 5em;
  width: 75%;
}
#quizQuestionNum{
  float: right;
  margin: 1.5em 1.5em 0em 0em;
  letter-spacing: 0.3em;
}
#questionHeading{
  font-size: 1.3em;
}
.questionBox{
  background-color: #F0F0F0;
  border: 1px solid black;
  margin: 15px 0px 15px 0px;

}
.questionBox:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.questionBox:hover .questionBoxLetter{
  background-color: #F6CB4E;
  color: #9A2133;
}
.questionBoxLetter{
  font-size: 1.3em;
  width: 1.3em;
  border-right: 1px solid black;
  background-color: #9A2133;
  padding: 8px;
  text-align: center;
  color: #F6CB4E;
  font-weight: bold;
  float: left;
  display: inline-block;
}
#questionHeading, .questionBox, .answer, #quizSubmit, #tryAgain, #resultNum {
  font-family: 'Montserrat', sans-serif;
}
.answer{
  float: left;
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: 300;
  /* margin-top: 3%; */
  display: inline-block;
  line-height: 2.8em;
}
#quizSubmit{
  float: right;
  margin: 40px;
  background-color: #9A2133;
  color: #F6CB4E;
  border: 1px solid black;
  padding: 10px 25px;
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 10px;
}
#quizSubmit:hover{
  background-color: #F6CB4E;
  color: #9A2133;
  cursor: pointer;
}
#results{
  display: none;
  float: left;
  width: 54.9%;
  background-color: none;
  height: 100%;
  text-align: center;
}
#results h2{
  margin-top: 30%;
  font-size: 3em;
}
#results h3{
  margin-top: 5%;
  font-size: 2em;
}
#tryAgain{
  background-color: #9A2133;
  color: #F6CB4E;
  border: 1px solid black;
  padding: 10px 25px;
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 30px;
}
#tryAgain:hover{
  background-color: #F6CB4E;
  color: #9A2133;
  cursor: pointer;
}
/*quiz resizing*/
@media screen and (max-width: 1000px){
  #quizSection{
    width: 80%;
  }
}


@media screen and (max-width: 800px){
  #quizHeader{
    font-size: 2.5em;
  }
  #quizSection{
    width: 80%;
  }
  #questionSection{
    display: block;
    height: auto;
  }
  .quizImg{
    width: 100%;
    height: 100%;
    float: none;
    /* border-bottom: 1px solid black; */
  }
  .quizImg img {
    width: 100%;
    height: 120%;
    border-bottom: 1px solid black;

  }
  #questionWrapper{
    width: 100%;
    float: none;
    padding-top: 1em;
  }
  #quizQuestionsWrapper{
    width: 80%;
  }

  #results{
    width: 100%;
    padding-bottom: 10%;
  }
  #results h2{
    margin-top: 10%;
    font-size: 2em;
  }
  #results h3{
    margin-top: 2%;
    font-size: 1em;
    margin-bottom: 2%;
  }
  #footerborder {
    margin-top: 80px;
  }

}


